div {	

background-color: red;
font-size: 40;
font-weight: bold;
color: white;

}

p.highlight {
 background-color: yellow;
 color: black;
}

div.bar {
    display: inline-block;
    width: 20px;
    height: 75px;   /* We'll override this later */
    background-color: teal;
}